body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Open Sans", sans-serif;
padding-top:40px;
}
h2, h3, .card-body>h5 {
  font-size: 18px;
  padding-top:40px;
  }
 h3 {
  padding-top:40px;
}


h2 {
  color: #3046C5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 0px 0;
  border-bottom: 1px ridge;
  min-height: 300px;
}

.site-footer {
  /*background-image: linear-gradient(#CEC8FF, white);*/
  padding: 100px 0;
}

.jumbotron {
  margin-bottom: 0!important;
  padding:10px 0 !important;
  background-image: linear-gradient(to right, #dd3761, #c55330, #f7ab07);
  color: white;
}

.jumbotron h2 {
  color: #000;
}

.navbar-dark {
  background-color: rgba(4, 172, 54, 0.733);

}



